<!DOCTYPE html>
<html>
    <head>
		<meta name="description" content="Cool">
		<meta name="keywords" content="Cool">
		<meta name="author" content="Nena Slaats, Ronnie Attema">
		<script language="JavaScript" src="solarjava.js"></script>
	    <link type="text/css" rel="stylesheet" href="index.css" />
        <title> Solar simulation </title>
    </head>
    <body onload="brython()">
		<iframe height="400px" width="100%" src="https://repl.it/@NenaSlaats/SolarPy?lite=true&amp?outputonly=1"></iframe>
	</body>
</html>